<div class="row">
    <div class="col-md-1-12" style="background-color: #e3e3e3;">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tiempo de preparación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Galletas</td>
                    <td>5:00</td>
                </tr>

            </tbody>
        </table>


    </div>
    
</div>