<div class="card">
    <div class="card-header">
        Editar receta
    </div>
    <div class="card-body">

        <form ngNativeValidate [formGroup]="formularioDeRecetas" (ngSubmit)="editarDatos()">



            <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text"
                required class="form-control" name="nombre" id="nombre"  placeholder="Escribe el nombre" formControlName="nombre">
            </div>


            <div class="mb-3">
            <label for="tiempo_preparacion" class="form-label">Tiempo de preparación:</label>
            <input type="time"
                min="00:00" max="24:00"
                required class="form-control" name="tiempo_preparacion" id="tiempo_preparacion"  placeholder="Escribe el tiempo de preparación" formControlName="tiempo_preparacion">
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success">Confirmar</button>
              <button type="button" class="btn btn-primary" routerLink="/">Cancelar</button>
            </div>

        </form>

    </div>

</div>